In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from  sklearn.metrics import accuracy_score

In [2]:
fake_news=pd.read_csv(r"D:\datasets\fake.csv")
true_news=pd.read_csv(r"D:\datasets\true.csv")

In [3]:
fake_news.tail()

,title,text,subject,date
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [4]:
fake_news.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [5]:
fake_news['subject'].unique()

array(['News', 'politics', 'Government News', 'left-news', 'US_News',
       'Middle-east'], dtype=object)

In [6]:
true_news['subject'].unique()

array(['politicsNews', 'worldnews'], dtype=object)

In [7]:
true_news.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [8]:
true_news["class"]=1
fake_news["class"]=0

In [9]:
true_news.shape

(21417, 5)

In [10]:
fake_news.shape

(23481, 5)

In [11]:
merge=pd.concat([fake_news,true_news],axis=0)

In [12]:
merge

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [13]:
merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [14]:
news=merge.drop(['title','subject','date'],axis=1)

In [15]:
news

                                                    text  class
0      Donald Trump just couldn t wish all Americans ...      0
1      House Intelligence Committee Chairman Devin Nu...      0
2      On Friday, it was revealed that former Milwauk...      0
3      On Christmas day, Donald Trump announced that ...      0
4      Pope Francis used his annual Christmas Day mes...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1
21413  LONDON (Reuters) - LexisNexis, a provider of l...      1
21414  MINSK (Reuters) - In the shadow of disused Sov...      1
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      1
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1

[44898 rows x 2 columns]

In [16]:
news.isnull().sum()

text     0
class    0
dtype: int64

#When you set frac=1, it means you want to return all rows in the dataset, but in a randomized order, effectively shuffling the entire dataset. This is because frac is a proportion,
and setting it to 1 means you want to retain 100% of the rows.

In [17]:
whole_news=news.sample(frac=1)

In [18]:
whole_news

                                                    text  class
17143  I appears that Hillary Clinton is really in a ...      0
3171   WASHINGTON (Reuters) - The U.S. Senate voted n...      1
11344  Tom Hanks, Tina Fey, Alec Baldwin and Amy Poeh...      0
13945  Obama spoke to graduates of Howard University ...      0
12794  BRUSSELS/DUBLIN (Reuters) - The United Kingdom...      1
...                                                  ...    ...
4309   After a tape was released in which Donald Trum...      0
1155   WASHINGTON (Reuters) - More than 40 lawmakers ...      1
15416  Bernie Sanders is a self described socialist N...      0
19787  Melanie Trump is more than just a pretty face....      0
5363   ABU DHABI - U.S. President Donald Trump’s defe...      1

[44898 rows x 2 columns]

In [19]:
whole_news.reset_index(inplace=True)
whole_news.drop(['index'],axis=1,inplace=True)

In [20]:
whole_news.columns

Index(['text', 'class'], dtype='object')

In [21]:
whole_news.head(10)

                                                text  class
0  I appears that Hillary Clinton is really in a ...      0
1  WASHINGTON (Reuters) - The U.S. Senate voted n...      1
2  Tom Hanks, Tina Fey, Alec Baldwin and Amy Poeh...      0
3  Obama spoke to graduates of Howard University ...      0
4  BRUSSELS/DUBLIN (Reuters) - The United Kingdom...      1
5  Donald Trump has been crucified by the leftist...      0
6  Republicans claim that racism doesn t exist an...      0
7  Don t buy into the media lie that every LEGAL ...      0
8  President Obama is forced to spend another Val...      0
9  America s  First Black President  continues to...      0

CREATING A FUNCTION TO PROCESS THE TEXTS

In [22]:
import re
import string

In [23]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [24]:
whole_news["text"] = whole_news["text"].apply(wordopt)

In [25]:
x=whole_news['text']
y=whole_news['class']

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

In [29]:
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()

In [30]:
LR.fit(xv_train,y_train)

LogisticRegression()

In [31]:
pred=LR.predict(xv_test)

In [32]:
pred

array([1, 0, 0, ..., 1, 0, 0], dtype=int64)

In [33]:
LR.score(xv_test,y_test)*100

98.58351893095768

In [34]:
from sklearn.metrics import classification_report,confusion_matrix

In [35]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5947
           1       0.98      0.99      0.98      5278

    accuracy                           0.99     11225
   macro avg       0.99      0.99      0.99     11225
weighted avg       0.99      0.99      0.99     11225

In [36]:
print(confusion_matrix(y_test,pred))

[[5866   81]
 [  78 5200]]

In [37]:
from sklearn.ensemble import RandomForestClassifier

In [38]:
RF = RandomForestClassifier(n_estimators=100, random_state=42)

In [39]:
RF.fit(xv_train, y_train)

RandomForestClassifier(random_state=42)

In [40]:
pred_RF = RF.predict(xv_test)

In [41]:
accuracy_RF = accuracy_score(y_test, pred_RF) * 100
print("Random Forest Accuracy:", accuracy_RF)

Random Forest Accuracy: 98.97550111358575

MODEL TESTING

In [42]:
def output_label(n):
    if n==0:
        return "The news is fake"
    elif n==1:
        return "The news is true"
def manual_testing(news):
    testing_news={"text":[news]}
    new_def_test=pd.DataFrame(testing_news)
    new_def_test["text"]=new_def_test["text"].apply(wordopt)
    new_x_test=new_def_test["text"]
    new_xv_test=vectorization.transform(new_x_test)
    pred_LR=LR.predict(new_xv_test)
    pred_RF=RF.predict(new_xv_test)
    
    lr_prediction = output_label(pred_LR[0])
    rf_prediction = output_label(pred_RF[0])
    
    return print("\nLR prediction:", lr_prediction, "\nRF prediction:", rf_prediction)

In [ ]:
news=input()
manual_testing(news)